.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #fff;
  padding-top: 28px;
  padding-bottom: 28px;
}

@media (max-width: 320px) {
  .header {
    padding-top: 16px;
  }
}