.place__text {
  grid-area: place__text;
  display: flex;
  flex-direction: column;
  gap: 26px;
  max-width: 484px;
}

@media (max-width: 1024px) {
  .place__text {
    max-width: 456px;
  }
}

@media (max-width: 768px) {
  .place__text {
    max-width: 352px;
  }
}

@media (max-width: 720px) {
  .place__text {
    max-width: 288px;
    padding-left: 16px;
    padding-right: 16px;
  }
}