.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  margin: 0;
  max-width: 484px;
  gap: 26px;
}

@media (max-width: 1024px) {
  .place__text {
    max-width: 456px;
  }
}

@media (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    max-width: 352px;
  }
}

@media (max-width: 720px) {
  .place__text {
    max-width: 288px;
    gap: 25px;
  }
}
