.intro {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #fff;
  margin-bottom: 92px;
}

@media (max-width: 1024px) {
  .intro {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 88px;
  }
}


@media (max-width: 320px) {
  .intro {
    max-width: 288px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 64px;
  }
}