.place__website {
  max-width: 456px;
  grid-area: place__website;
  align-self: flex-end;
}

@media (max-width: 768px) {
  .place__website {
    max-width: 352px;
  }
}

@media (max-width: 635px) {/*575*/
  .place__website {
    max-width: 288px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
