.page__container {
  max-width: 1184px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px;
}

@media (max-width: 1024px) {
  .page__container {
    max-width: 1024px;
  }
}

@media (max-width: 768px) {
  .page__container {
    max-width: 768px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 720px) {
  .page__container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
  }
}